* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #15202b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

header.main-header {
  border-bottom: #3d5466 solid 1px;
  height: 53px;
}

header.main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header.main-header .logo-and-search {
  display: flex;
  width: 50%;
}

header.main-header .logo-and-search img {
  width: 37px;
  margin-right: 36px;
}

header.main-header .logo-and-search input {
  background: #253341 url("../images/icon-search.svg") center left 10px
    no-repeat;
  color: rgba(255, 255, 255, 0.5);
  height: 36px;
  border-radius: 30px;
  border: 0;
  padding: 0 42px;
  width: 100%;
}

header.main-header .actions {
  display: flex;
}

header.main-header .actions button.action {
  padding: 6px 18px;
  border: #1da1f2 1px solid;
  border-radius: 20px;
  background: transparent;
  color: #1da1f2;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
}

header.main-header .actions button.action.blue {
  background-color: #1da1f2;
  color: #fff;
}

header.main-header .actions button.more {
  background-color: transparent;
  border: 0;
}
